@{
    ViewData["Title"] = "Hem";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4 mb-3">Välkommen till LeaveTracker</h1>
            <p class="lead mb-4">Din applikation för smidiga ledighetsansökningar</p>
        </div>
    </div>
</div>